## IMPORTAMOS LOS PAQUETES

In [1]:
import requests as rq 
import os
import pandas as pd

## FUNCIÓN QUE EXTRAE LOS DF

In [2]:
tipo = "mh"
for file in os.listdir("./Municipios"):
    print(file)
    for year in [i for i in range(2023, 2016,-1)]:
        print(year)
        try:
            nfile = file[:-8] + str(year) + ".txt"
            print(nfile)
            petition = rq.get("https://webcat-web.gva.es/webcat_web/datosHistoricosRvvcca/descargarHistorico?nomFichero="+nfile+"&red=&anyo="+str(year)+"&tipoFich=mh")
            print(petition.status_code)
            if petition.status_code == 200:
                open(f'./Datos/{nfile}', 'wb').write(petition.content)
            else:
                break
        except:
            break

MHEST030140062022.txt
2023
MHEST030140062023.txt
200
2022
MHEST030140062022.txt
200
2021
MHEST030140062021.txt
200
2020
MHEST030140062020.txt
200
2019
MHEST030140062019.txt
200
2018
MHEST030140062018.txt
200
2017
MHEST030140062017.txt
200
MHEST462500302022.txt
2023
MHEST462500302023.txt
200
2022
MHEST462500302022.txt
200
2021
MHEST462500302021.txt
200
2020
MHEST462500302020.txt
200
2019
MHEST462500302019.txt
200
2018
MHEST462500302018.txt
200
2017
MHEST462500302017.txt
200
MHEST462500432022.txt
2023
MHEST462500432023.txt
200
2022
MHEST462500432022.txt
200
2021
MHEST462500432021.txt
200
2020
MHEST462500432020.txt
200
2019
MHEST462500432019.txt
200
2018
MHEST462500432018.txt
200
2017
MHEST462500432017.txt
200
MHEST462500462022.txt
2023
MHEST462500462023.txt
200
2022
MHEST462500462022.txt
200
2021
MHEST462500462021.txt
200
2020
MHEST462500462020.txt
200
2019
MHEST462500462019.txt
200
2018
MHEST462500462018.txt
200
2017
MHEST462500462017.txt
200
MHEST462500472022.txt
2023
MHEST462500472023.txt
200
2022
MHEST462500472022.txt
200
2021
MHEST462500472021.txt
200
2020
MHEST462500472020.txt
200
2019
MHEST462500472019.txt
200
2018
MHEST462500472018.txt
200
2017
MHEST462500472017.txt
200
MHEST462500482022.txt
2023
MHEST462500482023.txt
200
2022
MHEST462500482022.txt
200
2021
MHEST462500482021.txt
200
2020
MHEST462500482020.txt
200
2019
MHEST462500482019.txt
200
2018
MHEST462500482018.txt
200
2017
MHEST462500482017.txt
200
MHEST462500492022.txt
2023
MHEST462500492023.txt
200
2022
MHEST462500492022.txt
200
2021
MHEST462500492021.txt
200
2020
MHEST462500492020.txt
200
2019
MHEST462500492019.txt
200
2018
MHEST462500492018.txt
200
2017
MHEST462500492017.txt
200
MHEST462500502022.txt
2023
MHEST462500502023.txt
200
2022
MHEST462500502022.txt
200
2021
MHEST462500502021.txt
200
2020
MHEST462500502020.txt
200
2019
MHEST462500502019.txt
200
2018
MHEST462500502018.txt
200
2017
MHEST462500502017.txt
200
MHEST462500542022.txt
2023
MHEST462500542023.txt
200
2022
MHEST462500542022.txt
200
2021
MHEST462500542021.txt
200
2020
MHEST462500542020.txt
200
2019
MHEST462500542019.txt
200
2018
MHEST462500542018.txt
200
2017
MHEST462500542017.txt
200
MHEST462500552022.txt
2023
MHEST462500552023.txt
200
2022
MHEST462500552022.txt
200
2021
MHEST462500552021.txt
200
2020
MHEST462500552020.txt
200
2019
MHEST462500552019.txt
200
2018
MHEST462500552018.txt
200
2017
MHEST462500552017.txt
200
MHEST462503012022.txt
2023
MHEST462503012023.txt
200
2022
MHEST462503012022.txt
200
2021
MHEST462503012021.txt
200
2020
MHEST462503012020.txt
200
2019
MHEST462503012019.txt
200
2018
MHEST462503012018.txt
200
2017
MHEST462503012017.txt
200
MHEST462503022022.txt
2023
MHEST462503022023.txt
200
2022
MHEST462503022022.txt
200
2021
MHEST462503022021.txt
200
2020
MHEST462503022020.txt
200
2019
MHEST462503022019.txt
200
2018
MHEST462503022018.txt
200
2017
MHEST462503022017.txt
200
MHEST462509002022.txt
2023
MHEST462509002023.txt
200
2022
MHEST462509002022.txt
200
2021
MHEST462509002021.txt
200
2020
MHEST462509002020.txt
200
2019
MHEST462509002019.txt
200
2018
MHEST462509002018.txt
200
2017
MHEST462509002017.txt
200

## UNIFICAMOS DF

In [3]:
path='C:/Users/annal/Desktop/TFG/Datos'
dirs=os.listdir(path)
dirs=list(dirs)
# dirs

In [4]:
with open(path+'/'+dirs[0]) as f:
    est = f.readlines()[1]
#print(est)
    estacion=str.strip(est[19:])
#print(estacion)

In [5]:
df = pd.read_csv(path+'/'+dirs[0], encoding="ISO 8859-15" ,sep="\t",skiprows=(0,1,2,4))
df['Estación']=estacion
df

,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,C7H8,C6H6,C8H10,Estación
0,01/01/2017,0,3.0,"0,1",2,19,21,34.0,"2,4","0,2","0,2",Alacant - El Pla
1,01/01/2017,1,3.0,"0,2",4,40,47,12.0,"3,8","0,5","0,9",Alacant - El Pla
2,01/01/2017,2,3.0,"0,2",4,38,43,8.0,5,1,1,Alacant - El Pla
3,01/01/2017,3,3.0,"0,1",3,23,27,22.0,"3,3","0,3","0,7",Alacant - El Pla
4,01/01/2017,4,3.0,"0,1",2,16,19,31.0,"2,1","0,2","0,2",Alacant - El Pla
...,...,...,...,...,...,...,...,...,...,...,...,...
8612,31/12/2017,19,4.0,"0,1",4,21,26,NaN,NaN,NaN,NaN,Alacant - El Pla
8613,31/12/2017,20,5.0,"0,1",3,12,17,NaN,NaN,NaN,NaN,Alacant - El Pla
8614,31/12/2017,21,4.0,"0,1",3,7,12,NaN,NaN,NaN,NaN,Alacant - El Pla
8615,31/12/2017,22,5.0,"0,1",3,4,9,NaN,NaN,NaN,NaN,Alacant - El Pla
8616,31/12/2017,23,3.0,"0,1",3,4,9,NaN,NaN,NaN,NaN,Alacant - El Pla

In [6]:
for file in range(1,len(dirs)):
    
    #print(path+'/'+dirs[file])
    try:
        with open(path+'/'+dirs[file]) as f:
            est = f.readlines()[1]
            estacion=str.strip(est[19:])
            #print(estacion)
            df2 = pd.read_csv(path+'/'+dirs[file], encoding="ISO 8859-15" ,sep="\t",skiprows=(0,1,2,4))
            df2['Estación']=estacion
            df=pd.concat([df, df2],sort=False)
    except: 
        pass
df

,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,C7H8,C6H6,...,CH4,Veloc.,Direc.,Veloc.máx.,Temp.,H.Rel.,Pres.,R.Sol.,Precip.,NH3
0,01/01/2017,0,3.0,"0,1",2.0,19.0,21.0,34.0,"2,4","0,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2017,1,3.0,"0,2",4.0,40.0,47.0,12.0,"3,8","0,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2017,2,3.0,"0,2",4.0,38.0,43.0,8.0,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2017,3,3.0,"0,1",3.0,23.0,27.0,22.0,"3,3","0,3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2017,4,3.0,"0,1",2.0,16.0,19.0,31.0,"2,1","0,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8581,31/12/2022,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"0,7",243.0,"2,1","16,5",57.0,1023.0,0.0,0,NaN
8582,31/12/2022,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"0,2",354.0,"1,4","15,4",70.0,1024.0,0.0,0,NaN
8583,31/12/2022,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,222.0,"0,6","14,7",83.0,1024.0,0.0,0,NaN
8584,31/12/2022,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"0,2",251.0,"0,9","13,8",83.0,1024.0,0.0,0,NaN
8585,31/12/2022,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"0,4",235.0,"1,4","12,7",71.0,1024.0,0.0,0,NaN

In [7]:
# comprobamos el número de faltantes 

for i in df.columns:
    print(f'La columna {i} tiene {df[i].isna().sum()} valores faltantes')

La columna FECHA tiene 0 valores faltantes
La columna HORA tiene 0 valores faltantes
La columna SO2 tiene 136046 valores faltantes
La columna CO tiene 297462 valores faltantes
La columna NO tiene 88122 valores faltantes
La columna NO2 tiene 88128 valores faltantes
La columna NOx tiene 88123 valores faltantes
La columna O3 tiene 136912 valores faltantes
La columna C7H8 tiene 435238 valores faltantes
La columna C6H6 tiene 435656 valores faltantes
La columna C8H10 tiene 435058 valores faltantes
La columna Estación tiene 0 valores faltantes
La columna PM10 tiene 257390 valores faltantes
La columna Ruido tiene 471760 valores faltantes
La columna PM2.5 tiene 248211 valores faltantes
La columna PM1 tiene 455938 valores faltantes
La columna CH4 tiene 521372 valores faltantes
La columna Veloc. tiene 364389 valores faltantes
La columna Direc. tiene 363362 valores faltantes
La columna Veloc.máx. tiene 415964 valores faltantes
La columna Temp. tiene 416414 valores faltantes
La columna H.Rel. tiene 419256 valores faltantes
La columna Pres. tiene 415515 valores faltantes
La columna R.Sol. tiene 418146 valores faltantes
La columna Precip. tiene 415445 valores faltantes
La columna NH3 tiene 473203 valores faltantes

In [8]:
## creamos el df

df.to_csv('data2017_2022.csv',decimal='.',header=True, index=False)

In [9]:
len(df)

521373